{% extends "main.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns md-8 md-center">
<<<<<<< HEAD
            <div class="add-item add-form">
                <form method="post" action="add">
=======
            <div class="add-item">
                <form method="post" action="">
>>>>>>> master
                    <fieldset id="coordonnee">
                        <legend>Vos coordonnées</legend>

                        <label for="nom" class="nomLabel"></label>
                        <input type="text" name="nom" id="nom" placeholder="Nom"/>

                        <label for="email" class="emailLabel"></label>
                        <input type="email" name="email" id="email" placeholder="Email"/>

                        <label for="phone" class="phoneLabel"></label>
                        <input type="text" name="phone" id="phone" placeholder="Téléphone"/>

                        <label for="ville" class="villeLabel"></label>
                        <input type="text" name="ville" id="ville" placeholder="Ville"/>

                    </fieldset>

                    <fieldset>
                        <legend>Votre annonce</legend>

                        <label for="categorie" class="categorieLabel"></label>
                        <select name="categorie">
                            <option>Choississez une catégorie</option>
                            <option>-----</option>
                            <option value="1">Véhicule</option>
                            <option value="2">Immobilier</option>
                            <option value="3">Multimédia</option>
                            <option value="4">Loisirs</option>
                        </select>

                        <label for="title" class="titleLabel"></label>
                        <input type="text" name="title" id="title" placeholder="Titre de l'annonce"/>

                        <label for="description" class="descriptionLabel"></label>
                        <textarea name="description" id="description" cols="40" rows="4" placeholder="Votre description…"></textarea>

                        <label for="price" class="priceLabel"></label>
                        <input type="text" name="price" id="price" placeholder="Prix"/>
                    </fieldset>
                    <fieldset>
                        <legend>Sécurisez votre annonce</legend>

                        <label for="password" class="passwordLabel"></label>
                        <input type="password" name="psw" id="psw" placeholder="Mot de passe"/>
                        <input type="password" name="confirm-psw" id="confirm-psw" placeholder="Confirmez le mot de passe"/>

                    </fieldset>
                    <div class="align-center" id="validate">
                        <input type="submit" id="toggler" value="Déposer mon annonce"/>
                    </div>
                </form>
            </div>
        </div>
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>#}
        {#<script>#}
            {#jQuery(document).ready(function() {#}
                {#$('.add-form form').submit(function() {#}

                    {#$('.add-form form .nomLabel').html('Name');#}
                    {#$('.add-form form .emailLabel').html('Email');#}
                    {#$('.add-form form .phoneLabel').html('Message');#}
                    {#$('.add-form form .villeLabel').html('Message');#}
                    {#$('.add-form form .categorieLabel').html('Message');#}
                    {#$('.add-form form .titleLabel').html('Message');#}
                    {#$('.add-form form .descriptionLabel').html('Message');#}
                    {#$('.add-form form .priceLabel').html('Message');#}
                    {#$('.add-form form .passwordLabel').html('Message');#}

                    {#var postdata = $('.add-form form').serialize();#}
                    {#$.ajax({#}
                        {#type: 'POST',#}
                        {#url: '/racoin-php/controller/addItem.php',#}
                        {#data: postdata,#}
                        {#dataType: 'json',#}
                        {#success: function(json) {#}
                            {#if(json.nameAdvertiser != '') {#}
                                {#$('.add-form form .nameLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.nameAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.emailAdvertiser != '') {#}
                                {#$('.add-form form .emailLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.emailAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.phoneAdvertiser != '') {#}
                                {#$('.add-form form .phoneLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.phoneAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.phoneAdvertiser != '') {#}
                                {#$('.add-form form .villeLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.villeAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.categorieAdvertiser != '') {#}
                                {#$('.add-form form .categorieLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.categorieAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.titleAdvertiser != '') {#}
                                {#$('.add-form form .titleLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.titleAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.descriptionAdvertiser != '') {#}
                                {#$('.add-form form .descriptionLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.descriptionAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.priceAdvertiser != '') {#}
                                {#$('.add-form form .priceLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.priceAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.passwordAdvertiser != '') {#}
                                {#$('.add-form form .passwordLabel').append(' - <span class="violet" style="font-size: 13px; font-style: italic"> ' + json.passwordAdvertiser + '</span>');#}
                            {#}#}
                            {#if(json.nameMessage == '' && json.emailMessage == '' && json.messageMessage == '') {#}
                                {#$('.add-form form').fadeOut('fast', function() {#}
                                    {#$('.add-form').append('<p><span class="violet">Thanks for contacting us!</span> We will get back to you very soon.</p>');#}
                                {#});#}
                            {#}#}
                        {#}#}
                    {#});#}
                    {#return false;#}
                {#});#}
            {#});#}
        {#</script>#}
{% endblock %}