<div class="row">
    <div class="columns">
        <br/>
        <ul class="breadcrumb">
            {% for l in breadcrumb %}
                <li><a href="{{ l.href }}">{{ l.text }}</a></li>
            {% endfor %}
            {#<li><a href="ratcoin.html">Accueil</a></li>#}
            {#<li><a href="#">Ville</a></li>#}
            {#<li><a href="#">Image & Son</a></li>#}
            {#<li class="current"><a href="#">Canon EOS 5D</a></li>#}
        </ul>
    </div>
</div>