<div class="row">
    <div class="columns">
        <br/>
        <ul class="breadcrumb">
            {% for l in breadcrumb %}
                <li><a href="{{ l.href }}">{{ l.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>