<div class="row sm-hide-only">
    <div class="columns align-center">
        <div class="categ-title">
            <h4>Catégories</h4>
        </div>
        <ul class="inline-list" id="list-categ">
            <li><a href="#">Véhicules</a></li>
            <li><a href="#">Immobilier</a></li>
            <li><a href="#">Multimédia</a></li>
            <li><a href="#">Matériel pro</a></li>
            <li><a href="#">Loisirs</a></li>
            <li><a href="#">Maison</a></li>
        </ul>
        <hr class="hr-ratcoin"/>
    </div>
</div>