<div class="row sm-hide-only">
    <div class="columns align-center">
        <div class="categ-title">
            <h4>Catégories</h4>
        </div>
        <ul class="inline-list" id="list-categ">
            {% for categorie in categories %}
                <li><a href="#"> {{ categorie.nom_categorie }}</a></li>
            {% endfor %}
        </ul>
        <hr class="hr-ratcoin"/>
    </div>
</div>