{% extends "main.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns align-center">
            <form action="" method="post">

                <h3>Êtes-vous sûre de vouloir supprimer "{{ annonce.titre }}"?</h3>
                <br/>
                pass=>{{ pass }}
            </form>

        </div>
    </div>
{% endblock %}