<div class="row">
    <div class="columns sm-show">
        <img id="showLeftPush" class="svg-mobile" src="{{ chemin }}/img/menu.svg" alt=""/>
    </div>
    <div class="columns align-center header">
        <a href="{{ chemin }}"><img id="rc-img" class="align-center" src="{{ chemin }}/img/ratcoin2.png" alt=""/></a>
        <h1 id="rc-title">Rat Coin</h1>
    </div>
</div>