{% extends "main.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns align-center">
            <p><i> - Les dernières annonces -</i></p>
        </div>
    </div>
    <div class="row">
        <div class="columns md-3">
            <article class="item">
                <a href="item.html">
                    <div class="row">
                        <p><em>Aujourd'hui par Titi</em></p>
                    </div>
                    <div class="row">
                        <div class="item-img">
                            <img src="img/stamps.jpg" alt=""/>

                            <p class="align-center">5 photos</p>
                        </div>
                        <div class="item-infos">
                            <h5>Stamps collection</h5>

                            <p><b>Vendeur :</b> professionnel</p>

                            <p><b>Lieu :</b> 東京都</p>

                            <p><span class="price">78.000 ¥</span></p>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
{% endblock %}