{% extends "main_min.html.twig" %}

{% block content %}
    <div class="key align-center">
        <form method="post" action="">
            <input type="hidden" name="<?php echo $token; ?>">
            <h3>Génerez votre clé d'API</h3><br/>
            <input type="text" class="search" placeholder="Votre nom" name="nom"><br/><br/>
            <input type="submit" id="keygen" value="Valider"/>
        </form>
    </div>
{% endblock %}