<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="stylesheets/master.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/component.css"/>
    <title>RatCoin</title>
</head>
<body>
<div class="wrapper">

    {% include "header.html.twig" %}
    {% include "menu.html.twig" %}
    {% include "categories.html.twig" %}

    {% block breadcrumb %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</div>
{% include "footer.html.twig" %}
</body>