<div class="row">
    <div class="columns align-center">
        <ul class="inline-list" id="list-action">
            <li><a href="search">Effectuer une recherche</a></li>
            <li><a href="ajouter.html">Déposer une annonce</a></li>
            <li><a href="#">Gérer mes annonces</a></li>
        </ul>
    </div>
</div>