{% extends "main.html.twig" %}

{% block breadcrumb %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns">
            <div class="formulaire">
                <form method="POST" action="">
                    <div class="form-item"><input type="text" class="search" placeholder="Mots clés..." name="motclef"></div>
                    <div class="form-item">
                        <select name="categorie" id="categorie">
                            <option>Toutes catégories</option>
                            <option>-----</option>
                            <option value="1">Véhicule</option>
                            <option value="2">Immobilier</option>
                            <option value="3">Multimédia</option>
                            <option value="4">Matériel pro</option>
                            <option value="5">Loisirs</option>
                            <option value="6">Maison</option>
                        </select>
                    </div>
                    <div class="form-item"><input type="text" placeholder="Ville, Code postal..." name="codepostal"></div>
                    <div class="form-item">
                        <select name="prix-min" id="prix-min">
                            <option>Min</option>
                            <option value="0">0</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                            <option value="900">900</option>
                            <option value="1000">1000</option>
                            <option value="1500">1500</option>
                            <option value="2000">2000</option>
                        </select>
                        <select name="prix-max" id="prix-max">
                            <option>Max</option>
                            <option value="0">0</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                            <option value="900">900</option>
                            <option value="1000">1000</option>
                            <option value="1500">1500</option>
                            <option value="2000">2000</option>
                            <option value="nolimit">illimité</option>
                        </select>

                        <div class="form-item" id="validate">
                            <input type="submit" id="toggler" value="Lancer la recherche"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}